<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
<h2 class="text-center text-primary">Sign up</h2>
<hr>
<div class="form-group">
    <input 
    [class.is-invalid]="registerForm.controls['username'].errors && registerForm.controls['username'].touched"
    type="text" class="form-control"
    formControlName="username" placeholder="UserName"
    >
    <div class="invalid-feedback">Please enter a username</div>
</div>
<div class="form-group">
    <input 
    [class.is-invalid]="registerForm.controls['password'].errors && registerForm.controls['password'].touched"
    type="password" class="form-control"
    formControlName="password"  placeholder="Password"
    >
    <div *ngIf="registerForm.controls['password'].hasError('required')" class="invalid-feedback">Please enter a password</div>
    <div *ngIf="registerForm.controls['password'].hasError('minlength')" class="invalid-feedback">Password must be al least 4 character</div>
</div>
<div class="form-group">
    <input [class.is-invalid]="registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].touched" 
    type="password" class="form-control"
    formControlName="confirmPassword"  placeholder="Confirm Password"
    >
    <div *ngIf="registerForm.controls['confirmPassword'].hasError('required')" class="invalid-feedback">Please enter a password</div>
    <div *ngIf="registerForm.controls['confirmPassword'].hasError('isMatching')" class="invalid-feedback">Password must be match</div>
</div>
<!-- <app-text-input [formControl]='registerForm.controls["username"]' [lable]='"UserName"'></app-text-input> -->
<div class="form-group text-center">
<button class="btn btn-success mr-2" type="submit">
Register
</button>
<button class="btn btn-default mr-2" type="button" (click)="cancel()">
    Cancel
    </button>
</div>
</form>
